body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background: #0a3d62;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: url('https://via.placeholder.com/1400x800') center/cover;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero h2 {
    font-size: 45px;
}

.btn {
    background: orange;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0a3d62;
    color: white;
}

.section {
    padding: 60px;
    text-align: center;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
}

@media(max-width:768px){
    nav ul {
        flex-direction: column;
    }
}
